$primary-color: #1890ff;
$primary-color-rgb: 24, 144, 255;
$primary-color-light-1: #d6e4ff;
$primary-color-light-2: #adc6ff;
$primary-color-light-3: #85b5ff;
$primary-color-dark-1: #096dd9;
$background-color: #007b7f;
$primary-color-dark-2: #0050b3;
$primary-color-dark-3: #003a8c;
$primary-color-shadow: rgba(24, 144, 255, 0.2); 